
body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #222;
  max-width: 40rem;
  padding: 2rem;
  margin: auto;
  background: #ededed;
}

article {
    background: lightgoldenrodyellow;
    padding: 1rem;
    margin: auto;
}

img {
  max-width: 100%;
}

a {
  color: seagreen;
  /* text-decoration: none; */
}

h1, h2, strong {
  color: #111;
}

.header {
    padding: 30px;
    font-size: 18px;
    text-align: center;
    background: lightcyan;
}

.footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
}

.post {
    display: grid;
    grid-template-columns:
      minmax(1.2rem, 1fr)
      minmax(auto, 57ch)
      minmax(1.2rem, 1fr);
}

.post p {
    grid-column: 2;
}

.post-title {
    grid-column: 2;
}

date {
    grid-column: 2;
}

.post-author {
    grid-column: 2;
}